<!-- wp:heading {"textAlign":"center","fontSize":"x-large"} -->
<h2 class="wp-block-heading has-text-align-center has-x-large-font-size">Lets Get In Touch!</h2>
<!-- /wp:heading -->

<!-- wp:fluentfom/guten-block {"formId":"1","themeStyle":"ffs_inherit_theme","isThemeChange":true} /-->

<!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Contact Info</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Address: 123 Fake Address Rd, Markham Ontario</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Email: Fakeemail@Lunacakery.ca</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Phone: 123 456 7777</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"129px"} -->
<div style="height:129px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->